/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
  align-items: center;
}
body {
  color: #01071b; /* new color */
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #021040; /* new color */
}

/*

nav{
  display: flex;
  justify-content: space-between;
}
*/

/* declare flex on parent element and its direct children become flex items 
  if you make nav flex element, li will not be flex because they are not direct elements
  make ul flex 
*/

footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #e1a765; /* new color */

}

/*-- Main Menu Styles--*/
nav ul {
  /* row is default property for flow direction */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between ; /* other options - space-around, space-evenly */
  list-style: none;
  margin: 0 auto; /* added to get rid of space at the top*/
  padding: 1em;
  /* padding: 0em;*/
}



nav a:link, nav a:visited {
  color: #e1a765; /* new color */
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #edc89e; /* new color */
  text-decoration: underline;
}
nav a.active {
  color: #edc89e; /* new color */
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;

 
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  font-weight: lighter; /* is this ok to add to have it look like yours?*/
  text-align: center; /* to center the header text */
  /* color: #060e26; /* new color */
}

.small {
  margin-top: 1em;
  font-size: 1em; /* different font size */
  color: #ffb400; /* new color */
  /* start of add */
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  /* end of add */
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  /* font-size: inherit; want to make smaller font */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #01071ba6; /* new color */

}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  justify-content: space-evenly;
}
a.button {
  color: #ff8800; /* new color */
  border: 2px solid #ff880087; /* new color */
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #d57609f9; /* new color */
  text-decoration: none;
  color: #d57609; /* new color */

}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}

.dropcap{
  font-size: 100px;
}

/*   color: #EAE287; /* new font color */ 